.navbar.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href="/#/")
        = "Indigitus"
        
.container.control-panel

    .row 
        cold-md-12
            h1="Your Instance"
    .row.instance-stats.row-test
        .col-md-12
            .row
                .col-md-6
                    table.table.table-striped
                        tr
                            td
                                ="Time Left:"
                            td
                                = "{{timeLeft}}"
                                = " minutes"
                            
                        tr
                            td
                                ="Instance IP"
                            td
                                a.instance-link.pull-right="{{host}}"
                                
                .col-md-6
                    table.table.table-striped
                        tr
                            td
                                p
                                    span.glyphicon.glyphicon-off
                                    span="Operating System:"
                            td 
                                ="Linux"
                                img.logo(src="images/tux.png", style="max-width: 50px; margin-right: 20px;")
                        tr 
                            td 
                                span.glyphicon.glyphicon-floppy-disk
                                ="Space:"
                            td
                                span.stat-info="20GB"
                                
            .row
                .col-md-12
                    br
                    a.btn.btn-default.btn-xs.btn-stop-now.pull-right(ng-click="stopInstance()")

                        span(ng-if="deletingInstance")
                            ="Stopping, you will be redirected to the front page in a second"
                            span.animated-ellipsis(style="float: right")
                                span.one="."
                                span.two="."
                                span.three="."

                        span(ng-if="!deletingInstance")    
                            ="Stop your instance now"
    .row
        .col-md-12
            h1="Simple Tests"
    .row.row-test
        .col-md-12
            .row 
                .col-md-10
                    h3
                        span.glyphicon.glyphicon-bell
                        ="Ping"
                        small="Ping google.com from your instance"
                .col-md-2
                    a.btn.btn-small.btn-default.btn-block.btn-start(ng-click="ping()", ng-disabled="pingsActive")
                        span(ng-if="pingsActive")
                            ="Working"
                            span.animated-ellipsis
                                span.one="."
                                span.two="."
                                span.three="."
                        span(ng-if="!pingsActive")
                            ="Test"
            .row(collapse="hidePing")
                .col-md-12
                    .row 
                        .col-md-12
                            .ping-chart-wrapper
                                nvd3-discrete-bar-chart( id="pingChart",  noData="Start Test", class="ping-chart", objectEquality="true", delay="2400", data="pingsData", color="barColor", showXAxis="true", showYAxis="true", showValues="true", showLegend="true", tooltips="true", tooltipcontent="pingTooltip")
                                    extended-nvd3-discrete-bar-chart
                    .row
                        .col-md-12
                            .ping-info
                                a.raw-output-link(ng-click="hidePingOutput = !hidePingOutput")
                                    span(ng-if="hidePingOutput")
                                        span.glyphicon.glyphicon-chevron-right
                                        ="Show Raw Output"
                                    span(ng-if="!hidePingOutput")
                                        span.glyphicon.glyphicon-chevron-down   
                                        ="Hide Raw Output"
                                div(collapse="hidePingOutput")
                                    div.well.raw-output
                                        h3(ng-if="pingLines.length === 0").text-center="No output yet"
                                        p(ng-if="pingLines.length > 0").text-right="Average {{pingsAverage}}"
                                        div(ng-if="pingLines.length > 0")
                                            ul 
                                                li(ng-repeat="line in pingLines")
                                                    ="{{line}}"
    .row.row-test 
        .col-md-12
            .row 
                .col-md-10
                    h3
                        span.glyphicon.glyphicon-map-marker
                        ="Traceroute"
                        small="Traceroute google.com from your instance"
                .col-md-2
                    a.btn.btn-default.btn-block(ng-click="traceroute()", ng-disabled="tracerouteActive")
                        span(ng-if="tracerouteActive")
                            ="Working"
                            span.animated-ellipsis
                                span.one="."
                                span.two="."
                                span.three="."
                        span(ng-if="!tracerouteActive")
                            ="Test"
            .row(collapse="hideTraceroute")
                .col-md-12
                    .row
                        .col-md-12.traceroute-chart-wrapper
                            nvd3-discrete-bar-chart( id="tracerouteChart", noData="Start Test", objectEquality="true", delay="2400", data="tracerouteData", color="barColor", showXAxis="true", showYAxis="true", showValues="true", showLegend="true", class="traceroute-chart", tooltips="true", tooltipcontent="tracerouteTooltip")
                                  extended-nvd3-discrete-bar-chart
                    .row(ng-if="!hideTraceroute")
                        .col-md-12(style="padding: 0;")
                            <leaflet center="center" markers="markers" paths="paths" defaults="defaults" height="500"  id="map"></leaflet>    
                           
                    .row
                        .col-md-12.traceroute-info 
                            a.raw-output-link(ng-click="hideTracerouteOutput = !hideTracerouteOutput")
                                span(ng-if="hideTracerouteOutput")
                                    span.glyphicon.glyphicon-chevron-right
                                    ="Show Raw Output"
                                span(ng-if="!hideTracerouteOutput")
                                    span.glyphicon.glyphicon-chevron-down   
                                    ="Hide Raw Output"
                            div(collapse="hideTracerouteOutput")
                                div.well.raw-output
                                    h3(ng-if="tracerouteLines.length === 0").text-center= "No output yet"
                                    div(ng-if="tracerouteLines.length > 0")
                                        ul 
                                            li(ng-repeat="line in tracerouteLines track by $index")
                                                ="{{line}}"
                    

    .row.row-test.upload(ng-hide="hideUpload")
        .col-md-12
            .row 
                .col-md-10
                    h3
                        span.glyphicon.glyphicon-cloud-upload
                        ="Upload"
                        small="11MB to another indigitus instance!"
                .col-md-2
                    a.btn.btn-default.btn-start.btn-block(ng-click="upload()")
                        span(ng-if="uploadActive")
                            ="Working"
                            span.animated-ellipsis
                                span.one="."
                                span.two="."
                                span.three="."
                        span(ng-if="!uploadActive")
                            ="Test"
            .row(collapse="hideUpload")
                .col-12
                    .progress.progress-striped.active
                        .progress-bar(style='width: {{uploadPercentage}}%', role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100')
                            = "60%"
                    p="Time: {{uploadTimeDisplay}} seconds"
                    
    .row.row-test.download
        .col-md-12
            .row 
                .col-md-10               
                    h3
                        span.glyphicon.glyphicon-cloud-download
                        ='Download'
                        small="11MB from imgur.com"
                .col-md-2
                    a.btn.btn-default.btn-block(ng-click="download()")
                        span(ng-if="downloadActive")
                            ="Working"
                            span.animated-ellipsis
                                span.one="."
                                span.two="."
                                span.three="."
                        span(ng-if="!downloadActive")
                            ="Test"
            .row(collapse="hideDownload")
                .col-12
                    .progress.progress-striped.active
                        .progress-bar(style='width: {{downloadPercentage}}%',role='progressbar', aria-valuenow='{{downloadPercentage}}', aria-valuemin='0', aria-valuemax='100')
                            = "{{downloadPercentage}}%"
                    p="Time: {{downloadTimeDisplay}} seconds"
    
    .row
        .col-md-12
            h1="Advanced"
    .row.row-test.terminal-wrapper
        .col-md-12
            .row
                .col-md-10
                    h3
                        span.glyphicon.glyphicon-list-alt
                        ='Terminal'
                        small="Connect to your instance and directly issue commands in a shell"
                .col-md-2
                    a.btn.btn-default.btn-block(ng-click="hideTerminal=false")="Test"
            .row(collapse="hideTerminal")
                .col-md-12.terminal-wrapper
                    <div terminal cb="onTerminalInput" width="100%" height="400" greetings="Connected to testinstance" prompt="testinstance:testuser$"></div>

