.footer
  .container
    .row
        .col-md-12.text-center
            h3.text-center="Contact"
    .row
      .col-md-4
        .holder 
            h4.text-center="Legal Information"
            p.text-center
              = "©2014 Indigitus AG"
              br
              = "Lindenstrasse 4 • CH-6340 Baar"
              br
              = "CHE-253.562.065 MWST"
              br
              = "Board of Directors: Thomas C. Bächtold"
              #clear

      .col-md-4
        .holder
            h4.text-center="About Us"
            p.text-center="We offer a Swiss-based cloud computing infrastructure that is as adaptable, flexible and efficient as your business needs it to be."
            h4.text-center="Follow Us"
            div
                ul.cv-social-media
                    a(href='https://www.facebook.com/indigitus')
                        li#facebook.icon-facebook
                    a(href='https://twitter.com/indigitus')
                        li#twitter.icon-twitter

        
      .col-md-4
        .holder
            h4.text-center="Built On"
            .holder-img
                img.openstack-logo(src="images/openstack.png")
